.header {
  background-color: $dark-blue;
  min-height: 878px;
  background-image: url("..//img/preview-pattern.png");
  overflow-x: hidden;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

@media (max-width: $desktop-width) {
  .header {
    min-height: 686px;
    box-shadow: none;
  }
}

@media (max-width: $tablet-width) {
  .header {
    min-height: 647px;
  }
}
