/* roboto-500 - latin_cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local(""), url("../fonts/roboto-v27-latin_cyrillic-500.woff2") format("woff2"), url("../fonts/roboto-v27-latin_cyrillic-500.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */ }

/* roboto-condensed-regular - latin_cyrillic */
@font-face {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local(""), url("../fonts/roboto-condensed-v19-latin_cyrillic-regular.woff2") format("woff2"), url("../fonts/roboto-condensed-v19-latin_cyrillic-regular.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */ }

/* roboto-condensed-700 - latin_cyrillic */
@font-face {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local(""), url("../fonts/roboto-condensed-v19-latin_cyrillic-700.woff2") format("woff2"), url("../fonts/roboto-condensed-v19-latin_cyrillic-700.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */ }

/* pt-mono-regular - latin_cyrillic */
@font-face {
  font-family: "PT Mono";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local(""), url("../fonts/pt-mono-v8-latin_cyrillic-regular.woff2") format("woff2"), url("../fonts/pt-mono-v8-latin_cyrillic-regular.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */ }

html {
  box-sizing: border-box;
  height: 100%; }

*,
*::before,
*::after {
  box-sizing: inherit; }

body {
  font-family: "Roboto Condensed", "Roboto", "Arial", sans-serif;
  color: #ffffff;
  font-size: 18px;
  line-height: 26px;
  margin: 0 auto;
  padding: 0;
  min-width: 320px; }

img {
  max-width: 100%;
  height: auto; }

a {
  text-decoration: none; }

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden; }

.header {
  background-color: #1b2d37;
  min-height: 878px;
  background-image: url("../..//img/preview-pattern.png");
  overflow-x: hidden; }

@media (max-width: 1023px) {
  .header {
    min-height: 686px; } }

@media (max-width: 767px) {
  .header {
    min-height: 647px; } }

.body {
  min-height: 100%;
  display: flex;
  flex-direction: column; }

.footer {
  margin-top: auto; }

.top-header {
  padding: 33px 25px 0;
  display: flex;
  max-width: 1461px;
  margin: 0 auto;
  margin-bottom: 230px;
  align-items: center; }

.top-header__text {
  margin-right: auto;
  margin-top: 6px;
  display: flex;
  flex-direction: column; }

.top-header__text p {
  font-weight: 700;
  font-size: 25px;
  line-height: 29px;
  color: #ffffff;
  margin: 0; }

.top-header__text span {
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  font-family: "Roboto", sans-serif;
  color: #788891; }

.top-header a {
  margin-left: 90px;
  font-family: "PT Mono", monospace;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff; }
  .top-header a:hover, .top-header a:focus {
    color: #9e9e9e; }
  .top-header a:active {
    color: #000000; }

.top-header a svg {
  fill: #00b2ff; }

.top-header a:hover svg,
.top-header a:focus svg {
  fill: #024eb1; }

.top-header a:active svg {
  fill: #1a02b1; }

.top-header__btn {
  margin-left: 50px;
  width: 180px;
  height: 45px;
  background-color: transparent;
  border: 1px solid #ffffff;
  border-radius: 5px;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.05em;
  color: #ffffff;
  text-transform: uppercase;
  font-family: "Roboto Condensed", sans-serif;
  cursor: pointer; }
  .top-header__btn:hover, .top-header__btn:focus {
    border-color: #666666;
    color: #666666;
    outline: none; }
  .top-header__btn:active {
    border-color: #000000;
    color: #000000; }

.top-header svg {
  position: relative;
  top: 1px;
  margin-right: 7px; }

.top-header img {
  margin-right: 15px; }

@media (max-width: 1023px) {
  .top-header {
    padding-top: 20px;
    margin-bottom: 116px; }
  .top-header a {
    margin-left: 33px; }
  .top-header a span {
    display: none; }
  .top-header__btn {
    display: none; }
  .top-header svg {
    margin-right: 0;
    height: 26px;
    width: 26px; } }

@media (max-width: 767px) {
  .top-header {
    padding: 17px 15px 0 17px;
    margin-bottom: 231px; }
  .top-header__text {
    display: none; }
  .top-header img {
    width: 38px;
    height: 38px;
    margin-right: auto; }
  .top-header a {
    margin-left: 22px; } }

.preview {
  max-width: 1461px;
  margin: 0 auto;
  padding: 0 25px;
  position: relative; }

.preview h2 {
  font-weight: 700;
  font-size: 80px;
  line-height: 94px;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 28px;
  margin-left: -6px;
  position: relative;
  z-index: 10; }

.preview p {
  font-family: "PT Mono", monospace;
  font-size: 22px;
  line-height: 34.5px;
  padding-left: 94px;
  position: relative;
  max-width: 710px;
  margin: 0;
  margin-bottom: 43px; }
  .preview p::before {
    content: "";
    width: 66px;
    height: 2px;
    background-color: #ffffff;
    position: absolute;
    left: 0;
    top: 16px;
    z-index: 5; }

.preview__btn {
  width: 407px;
  height: 55px;
  margin-left: 92px;
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  background-color: #00b2ff;
  border: none;
  border-radius: 5px;
  padding: 0;
  color: #ffffff;
  font-family: "Roboto Condensed", sans-serif;
  margin-bottom: 160px;
  cursor: pointer; }
  .preview__btn--mobile {
    display: none; }
  .preview__btn:hover, .preview__btn:focus {
    background-color: #024eb1;
    color: #666666; }
  .preview__btn:active {
    background-color: #1a02b1;
    color: #000000; }

.preview__scroll {
  transform: rotate(-90deg);
  transform-origin: bottom left;
  width: 100px;
  margin-left: 16px;
  margin-bottom: 50px;
  cursor: pointer; }

.preview__scroll a {
  max-width: 100px;
  color: rgba(255, 255, 255, 0.5);
  font-family: "PT Mono", monospace;
  font-size: 14px;
  line-height: 16px;
  order: 1; }
  .preview__scroll a:hover, .preview__scroll a:focus {
    color: #666666; }
  .preview__scroll a:active {
    color: #000000; }

.preview__image {
  background-image: url("../../img/preview-image.png");
  background-repeat: no-repeat;
  position: absolute;
  top: -197px;
  left: 800px;
  width: 709px;
  height: 653px; }

@media (max-width: 1023px) {
  .preview {
    padding-left: 88px; }
  .preview h2 {
    max-width: 500px;
    font-size: 60px;
    line-height: 70px;
    margin-left: 0;
    margin-top: 2px; }
  .preview p {
    font-size: 18px;
    line-height: 28px;
    max-width: 385px;
    padding-left: 50px;
    margin-bottom: 56px; }
    .preview p::before {
      width: 33px;
      left: 3px;
      top: 17px; }
  .preview__btn {
    width: 379px;
    margin-left: 51px;
    margin-bottom: 50px; }
  .preview__scroll {
    display: none; }
  .preview__image {
    background-image: url("../../img/preview-image-tablet.png");
    width: 535px;
    height: 505px;
    top: -189px;
    left: 441px; } }

@media (max-width: 767px) {
  .preview {
    padding: 0 15px; }
  .preview h2 {
    font-size: 40px;
    line-height: 47px;
    max-width: 280px; }
  .preview p {
    font-size: 16px;
    line-height: 25px;
    margin-bottom: 39px; }
    .preview p::before {
      top: 14px; }
  .preview__btn {
    width: calc(100% - 3px);
    margin-left: 3px;
    max-width: 379px;
    display: none; }
    .preview__btn--mobile {
      display: block; }
  .preview__image {
    background-image: url("../../img/preview-image-mobile.png");
    width: 631px;
    height: 485px;
    top: -332px;
    left: auto;
    right: -337px; } }

/*# sourceMappingURL=style.css.map */
