/* roboto-500 - latin_cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local(""), url("../fonts/roboto-v27-latin_cyrillic-500.woff2") format("woff2"), url("../fonts/roboto-v27-latin_cyrillic-500.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */ }

/* roboto-condensed-regular - latin_cyrillic */
@font-face {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local(""), url("../fonts/roboto-condensed-v19-latin_cyrillic-regular.woff2") format("woff2"), url("../fonts/roboto-condensed-v19-latin_cyrillic-regular.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */ }

/* roboto-condensed-700 - latin_cyrillic */
@font-face {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local(""), url("../fonts/roboto-condensed-v19-latin_cyrillic-700.woff2") format("woff2"), url("../fonts/roboto-condensed-v19-latin_cyrillic-700.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */ }

/* pt-mono-regular - latin_cyrillic */
@font-face {
  font-family: "PT Mono";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local(""), url("../fonts/pt-mono-v8-latin_cyrillic-regular.woff2") format("woff2"), url("../fonts/pt-mono-v8-latin_cyrillic-regular.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */ }

html {
  box-sizing: border-box;
  height: 100%; }

*,
*::before,
*::after {
  box-sizing: inherit; }

body {
  font-family: "Roboto Condensed", "Roboto", "Arial", sans-serif;
  color: #ffffff;
  font-size: 18px;
  line-height: 26px;
  margin: 0 auto;
  padding: 0;
  min-width: 320px; }

img {
  max-width: 100%;
  height: auto; }

a {
  text-decoration: none; }

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden; }

.header {
  background-color: #1b2d37;
  min-height: 878px;
  background-image: url("../..//img/preview-pattern.png");
  overflow-x: hidden; }

@media (max-width: 1023px) {
  .header {
    min-height: 686px; } }

@media (max-width: 767px) {
  .header {
    min-height: 647px; } }

.body {
  min-height: 100%;
  display: flex;
  flex-direction: column; }

.footer {
  margin-top: auto;
  color: rgba(27, 45, 55, 0.5);
  margin: 0 auto;
  padding-top: 65px;
  max-width: 1464px;
  width: 100%;
  overflow-x: hidden; }

.footer__wrapper {
  padding: 0 26px;
  width: 100%;
  display: grid;
  grid-template-columns: 15.3% 16.4% 36.6% 31.7%;
  grid-template-rows: -webkit-max-content;
  grid-template-rows: max-content; }

.footer__social {
  grid-column: 1/2;
  grid-row: 2/3; }

.footer__sections {
  grid-column: 2/4;
  grid-row: 1/3; }

.footer__contacts {
  grid-column: 4/5;
  grid-row: 1/3;
  margin-left: auto; }

.footer__confidentiality p {
  text-align: center;
  position: relative; }
  .footer__confidentiality p::before {
    content: "";
    position: absolute;
    height: 1px;
    width: 200vw;
    background-color: rgba(98, 105, 98, 0.2);
    top: 0;
    left: -100vw; }

.footer__copyright p {
  text-align: end; }

.footer__years p {
  min-width: 233px;
  padding-left: 5px; }

.footer__law p {
  min-width: 153px; }

.footer__confidentiality p,
.footer__copyright p,
.footer__years p,
.footer__law p {
  margin: 0;
  padding: 14px 0;
  font-family: "PT Mono", monospace;
  font-size: 13px;
  line-height: 24px;
  letter-spacing: 0.04em;
  text-transform: uppercase; }

@media (max-width: 1200px) {
  .footer__confidentiality {
    max-width: 240px;
    margin-left: auto; }
  .footer__years {
    margin-left: 10px; } }

@media (max-width: 1023px) {
  .footer {
    padding-top: 19px; }
  .footer__wrapper {
    padding: 0 23px 0 25px;
    grid-template-columns: 42.2% 31% 26.8%; }
  .footer__sections {
    grid-column: 1/2;
    grid-row: 2/3; }
  .footer__social {
    grid-column: 3/4;
    grid-row: 1/2; }
  .footer__contacts {
    grid-column: 2/4;
    grid-row: 2/3; }
  .footer__law {
    display: none; }
  .footer__years {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-left: 0;
    margin-top: 3px; }
  .footer__copyright {
    grid-column: 3/4; }
  .footer__confidentiality {
    margin-left: 0; }
  .footer__confidentiality p {
    padding-top: 21px;
    padding-bottom: 24px;
    text-align: left; }
  .footer__copyright p {
    padding-top: 21px;
    padding-bottom: 24px; } }

@media (max-width: 767px) {
  .footer {
    padding-top: 46px; }
  .footer__wrapper {
    grid-template-columns: 1fr;
    padding: 0 15px; }
  .footer__years {
    grid-row: 2/3;
    grid-column: 1/2; }
  .footer__social {
    grid-row: 3/4;
    grid-column: 1/2; }
  .footer__sections {
    grid-row: 4/5; }
  .footer__contacts {
    grid-row: 5/6;
    grid-column: 1/2; }
  .footer__confidentiality {
    grid-row: 6/7;
    max-width: none; }
  .footer__copyright {
    grid-row: 7/8;
    grid-column: 1/2; }
  .footer__years p {
    padding: 0;
    text-align: center; }
  .footer__confidentiality p {
    text-align: center;
    padding-top: 28px;
    padding-bottom: 10px; }
  .footer__copyright p {
    padding-top: 12px;
    text-align: center; } }

.top-header {
  padding: 33px 25px 0;
  display: flex;
  max-width: 1461px;
  margin: 0 auto;
  margin-bottom: 230px;
  align-items: center; }

.top-header__text {
  margin-right: auto;
  margin-top: 6px;
  display: flex;
  flex-direction: column; }

.top-header__text p {
  font-weight: 700;
  font-size: 25px;
  line-height: 29px;
  color: #ffffff;
  margin: 0; }

.top-header__text span {
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  font-family: "Roboto", sans-serif;
  color: #788891; }

.top-header a {
  margin-left: 90px;
  font-family: "PT Mono", monospace;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff; }
  .top-header a:hover, .top-header a:focus {
    color: #9e9e9e; }
  .top-header a:active {
    color: #000000; }

.top-header a svg {
  fill: #00b2ff; }

.top-header a:hover svg,
.top-header a:focus svg {
  fill: #024eb1; }

.top-header a:active svg {
  fill: #1a02b1; }

.top-header__btn {
  margin-left: 50px;
  width: 180px;
  height: 45px;
  background-color: transparent;
  border: 1px solid #ffffff;
  border-radius: 5px;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.05em;
  color: #ffffff;
  text-transform: uppercase;
  font-family: "Roboto Condensed", sans-serif;
  cursor: pointer; }
  .top-header__btn:hover, .top-header__btn:focus {
    border-color: #666666;
    color: #666666;
    outline: none; }
  .top-header__btn:active {
    border-color: #000000;
    color: #000000; }

.top-header svg {
  position: relative;
  top: 1px;
  margin-right: 7px; }

.top-header img {
  margin-right: 15px; }

@media (max-width: 1023px) {
  .top-header {
    padding-top: 20px;
    margin-bottom: 116px; }
  .top-header a {
    margin-left: 33px; }
  .top-header a span {
    display: none; }
  .top-header__btn {
    display: none; }
  .top-header svg {
    margin-right: 0;
    height: 26px;
    width: 26px; } }

@media (max-width: 767px) {
  .top-header {
    padding: 17px 15px 0 17px;
    margin-bottom: 231px; }
  .top-header__text {
    display: none; }
  .top-header img {
    width: 38px;
    height: 38px;
    margin-right: auto; }
  .top-header a {
    margin-left: 22px; } }

.preview {
  max-width: 1461px;
  margin: 0 auto;
  padding: 0 25px;
  position: relative; }

.preview h2 {
  font-weight: 700;
  font-size: 80px;
  line-height: 94px;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 28px;
  margin-left: -6px;
  position: relative;
  z-index: 10; }

.preview p {
  font-family: "PT Mono", monospace;
  font-size: 22px;
  line-height: 34.5px;
  padding-left: 94px;
  position: relative;
  max-width: 710px;
  margin: 0;
  margin-bottom: 43px; }
  .preview p::before {
    content: "";
    width: 66px;
    height: 2px;
    background-color: #ffffff;
    position: absolute;
    left: 0;
    top: 16px;
    z-index: 5; }

.preview__btn {
  width: 407px;
  height: 55px;
  margin-left: 92px;
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  background-color: #00b2ff;
  border: none;
  border-radius: 5px;
  padding: 0;
  color: #ffffff;
  font-family: "Roboto Condensed", sans-serif;
  margin-bottom: 160px;
  cursor: pointer; }
  .preview__btn--mobile {
    display: none; }
  .preview__btn:hover, .preview__btn:focus {
    background-color: #024eb1;
    color: #666666; }
  .preview__btn:active {
    background-color: #1a02b1;
    color: #000000; }

.preview__scroll {
  transform: rotate(-90deg);
  transform-origin: bottom left;
  width: 100px;
  margin-left: 16px;
  margin-bottom: 50px;
  cursor: pointer; }

.preview__scroll a {
  max-width: 100px;
  color: rgba(255, 255, 255, 0.5);
  font-family: "PT Mono", monospace;
  font-size: 14px;
  line-height: 16px;
  order: 1; }
  .preview__scroll a:hover, .preview__scroll a:focus {
    color: #666666; }
  .preview__scroll a:active {
    color: #000000; }

.preview__image {
  background-image: url("../../img/preview-image.png");
  background-repeat: no-repeat;
  position: absolute;
  top: -197px;
  left: 800px;
  width: 709px;
  height: 653px; }

@media (max-width: 1023px) {
  .preview {
    padding-left: 88px; }
  .preview h2 {
    max-width: 500px;
    font-size: 60px;
    line-height: 70px;
    margin-left: 0;
    margin-top: 2px; }
  .preview p {
    font-size: 18px;
    line-height: 28px;
    max-width: 385px;
    padding-left: 50px;
    margin-bottom: 56px; }
    .preview p::before {
      width: 33px;
      left: 3px;
      top: 17px; }
  .preview__btn {
    width: 379px;
    margin-left: 51px;
    margin-bottom: 50px; }
  .preview__scroll {
    display: none; }
  .preview__image {
    background-image: url("../../img/preview-image-tablet.png");
    width: 535px;
    height: 505px;
    top: -189px;
    left: 441px; } }

@media (max-width: 767px) {
  .preview {
    padding: 0 15px; }
  .preview h2 {
    font-size: 40px;
    line-height: 47px;
    max-width: 280px; }
  .preview p {
    font-size: 16px;
    line-height: 25px;
    margin-bottom: 39px; }
    .preview p::before {
      top: 14px; }
  .preview__btn {
    width: calc(100% - 3px);
    margin-left: 3px;
    max-width: 379px;
    display: none; }
    .preview__btn--mobile {
      display: block; }
  .preview__image {
    background-image: url("../../img/preview-image-mobile.png");
    width: 631px;
    height: 485px;
    top: -332px;
    left: auto;
    right: -337px; } }

.footer-company {
  display: flex;
  margin-bottom: 50px;
  min-width: 216px; }

.footer-company__text {
  display: flex;
  flex-direction: column; }

.footer-company p {
  margin: 0;
  color: #203C42;
  font-size: 25px;
  line-height: 29px;
  font-weight: 700;
  margin-top: 4px;
  margin-bottom: 2px; }

.footer-company span {
  font-size: 12px;
  line-height: 14px;
  font-weight: 500;
  font-family: "Roboto", sans-serif; }

.footer-company img {
  height: 52px;
  width: 52px;
  margin-right: 16px; }

@media (max-width: 1023px) {
  .footer-company {
    margin-bottom: 26px; }
  .footer-company p {
    margin-top: 5px; } }

@media (max-width: 767px) {
  .footer-company {
    margin: 0 auto;
    margin-bottom: 23px; } }

.footer-social {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 58px;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content; }

.footer-social__item {
  margin-right: 15px; }

@media (max-width: 1023px) {
  .footer-social {
    justify-content: flex-end;
    margin-top: 12px;
    margin-bottom: 26px; }
  .footer-social__item {
    margin-right: 0;
    margin-left: 15px;
    margin-bottom: 10px;
    width: 27px;
    height: 27px; } }

@media (max-width: 767px) {
  .footer-social {
    margin: 0 auto;
    margin-top: 31px;
    margin-bottom: 44px;
    justify-content: center;
    max-width: 115px; }
  .footer-social__item {
    margin-left: 15.5px; }
  .footer-social__item:nth-child(3n+1) {
    margin-left: 0; } }

.footer-sections {
  margin-left: auto; }

.footer-sections p {
  color: #1b2d37;
  font-size: 15px;
  line-height: 16px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 25px; }

.footer-sections__list {
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(2, 236px);
  -moz-column-gap: 70px;
       column-gap: 70px;
  margin-bottom: 58px; }

.footer-sections__item {
  font-family: "PT Mono", monospace;
  font-size: 15px;
  line-height: 25px; }

@media (max-width: 1200px) {
  .footer-sections {
    margin-left: 100px; }
  .footer-sections__list {
    grid-template-columns: 1fr; } }

@media (max-width: 1023px) {
  .footer-sections {
    margin-left: 0;
    position: relative; }
  .footer-sections p {
    padding-top: 38px; }
    .footer-sections p::before {
      content: "";
      position: absolute;
      height: 1px;
      width: 200vw;
      background-color: rgba(98, 105, 98, 0.2);
      top: 0;
      left: -100vw; }
  .footer-sections__list {
    grid-template-columns: 1fr;
    margin-bottom: 36px; }
  .footer-sections__item:nth-child(2n) {
    order: 2; } }

@media (max-width: 767px) {
  .footer-sections {
    position: relative; }
    .footer-sections::after {
      content: "";
      position: absolute;
      width: 16px;
      height: 1px;
      right: 1px;
      top: 37px;
      background-color: #C4C4C4; }
  .footer-sections p {
    padding-top: 29px;
    padding-bottom: 29px;
    position: relative;
    margin-bottom: 0; }
    .footer-sections p::after {
      content: "";
      position: absolute;
      height: 1px;
      width: 200vw;
      background-color: rgba(98, 105, 98, 0.2);
      bottom: 0;
      right: -100vw; }
  .footer-sections__list {
    display: none; }
  .footer-sections--opened::before {
    content: "";
    position: absolute;
    width: 1px;
    height: 16px;
    right: 9px;
    top: 29px;
    background-color: #C4C4C4; }
  .footer-sections--opened .footer-sections__list {
    display: block; } }

.footer-contacts p {
  margin: 0;
  color: #1b2d37;
  font-size: 15px;
  line-height: 16px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  margin-bottom: 25px; }

.footer-contacts__list {
  list-style: none;
  padding: 0;
  font-size: 15px;
  line-height: 25px;
  font-family: "PT Mono" ,monospace;
  margin-bottom: 58px; }

.footer-contacts__list a {
  color: rgba(27, 45, 55, 0.5); }

@media (max-width: 1023px) {
  .footer-contacts {
    margin-right: 11px;
    position: relative; }
  .footer-contacts p {
    padding-top: 38px; }
  .footer-contacts__list {
    margin-bottom: 36px; } }

@media (max-width: 767px) {
  .footer-contacts {
    margin-left: 0;
    margin-right: 0;
    position: relative; }
    .footer-contacts::after {
      content: "";
      position: absolute;
      width: 16px;
      height: 1px;
      right: 1px;
      top: 36px;
      background-color: #C4C4C4; }
  .footer-contacts p {
    padding-top: 29px;
    margin-bottom: 31px; }
  .footer-contacts__list {
    margin-bottom: 26px;
    margin-right: 10px;
    display: none; }
  .footer-contacts--opened .footer-contacts__list {
    display: block; }
  .footer-contacts--opened::before {
    content: "";
    position: absolute;
    width: 1px;
    height: 16px;
    right: 9px;
    top: 28px;
    background-color: #C4C4C4; } }

/*# sourceMappingURL=style.css.map */
